
/**********************************************************************************************************************
********************************** Base Colours ************************************************************************
Primary Colour: #B5B5AC;
Sub Menu Bg Colour: #DCDCD0;
Datatables Link hover: #ED4423;
**********************************************************************************************************************/
body .input-group-addon {
	background: #eeeeee;
	color: #757575;
}

.readonly-class {line-height: 0em}
/*Height and width needs to be 100% to cover any laravel issues, but sometimes it is too big*/
label.error{color:#f96868;background: #fff; padding-top:4px;/*width:100%;height: 100%;*/}

/*
 * Hack to position jQuery Validate error below an input within an .input-group
 */

body .form-group .input-group label.error {
	width: 100%;
	left:  0px;
	top:   36px;
}

/* date range icon section styles*/
.input-group-addon{background-color: #B5B5AC;color:#fff;}

.title-paragraph {margin-top: -15px}
/* bootstrap checkbox */
.checkbox-default input[type="checkbox"]:checked + label::after,
.checkbox-default input[type="radio"]:checked + label::after {
	color: #B5B5AC;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
	background-color: #B5B5AC;
	border-color: #B5B5AC;
}
.checkbox-custom label::before, .checkbox-custom input[type="checkbox"]:disabled + label::before, .checkbox-custom input[type="radio"]:disabled + label::before{
	border-color: #B5B5AC;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#fff;border-bottom-color:#fff;}
.nav-tabs.prtg-nav > li.active > a, .nav-tabs.prtg-nav > li.active > a:hover, .nav-tabs.prtg-nav > li.active > a:focus{background-color:#00445e;border-bottom-color:#00445e; margin:0; max-width: 193px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.nav-tabs.prtg-nav > li > a, .nav-tabs.prtg-nav > li > a:hover, .nav-tabs.prtg-nav > li > a:focus{margin:0; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.nav-tabs.prtg-nav > li.underlined {border-bottom:1px solid #444;}
.grid-item.prtg .widget-content li { list-style: none; border-left: 1px solid #444;	border-right: 1px solid #444; border-top: 1px solid #444; border-top-left-radius: 5px; border-top-right-radius: 5px;}
/*	.latency-tabbed-charts .nav-tabs > li.active > a, .latency-tabbed-charts .nav-tabs > li.active > a:hover,.grid-item ul.nav-tabs
	.latency-tabbed-charts .nav-tabs > li.active > a:focus{color:#757575}*/
.nav-tabs-vertical .nav-tabs > li.active > a, .nav-tabs-vertical .nav-tabs > li.active > a:hover,
.nav-tabs-vertical .nav-tabs > li.active > a:focus{border-right-color: #B5B5AC;}
.nav-tabs-vertical .nav-tabs > li > a{border-radius: 0px;}
.tabbed-info-small{font-size: 0.9em; line-height: 0.7em; color:white;}
.tabbed-info-heading{font-size: 1.2em; color:white; line-height: 0.9em}

/*boostrap radio buttons*/
.radio-default input[type="radio"]:checked + label::before,
.radio-default input[type="radio"]:checked + label::after ,
.radio-primary input[type="radio"]:checked + label::before,
.radio-custom label::before{
	border-color: #B5B5AC;
}

/* facebook hidden box on packages form*/
#facebook_like_outer i.form-help{
	color:#8b9dc3;
}
#facebook_like_outer i.form-help:hover{
	color:#dfe3ee;
}
.right-align{text-align:right;}
/* bootstrap date picker*/
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active, .open > .dropdown-toggle.datepicker table tr td.active,
.open > .dropdown-toggle.datepicker table tr td.active:hover,
.open > .dropdown-toggle.datepicker table tr td.active.disabled,
.open > .dropdown-toggle.datepicker table tr td.active.disabled:hover{
	background-color: #B5B5AC;
	border-color: #B5B5AC;
}
.datepicker-cancel{text-align:center; background:#e9e9e9; color:#333; cursor:pointer;}
.datepicker-cancel:hover{background:#00445e; color:#fff; cursor:pointer;}
.datepicker table.ui-datepicker-calendar .ui-state-active{outline: 1px solid #00445e}
.datepicker table.ui-datepicker-calendar tr td.ui-state-disabled span{font-size:.9em; text-align:center}
.datepicker table.ui-datepicker-calendar .ui-datepicker-today a{background-color:#FFF; color:#00445e; border:1px solid #00445e}
.datepicker table.ui-datepicker-calendar .ui-datepicker-today{border:none}

/* Range picker*/
.rangeUi-selected{background-color:#B5B5AC;}
.rangeUi-pointer{background-color:#fff; border:2px solid #000;}
/*.rangeUi-bar{background:#B5B5AC;}*/
i.form-help{color:#B5B5AC;}
i.form-help:hover{color:#444;}
.help-block{color:#444;}
.popover{border:1px solid #444;}
.popover-title{background-color:#444;color:#fff;}
.popover.right>.arrow{border-right-color:#444;}

/* tab  content icon style*/
.tabbed-content-main-icon{ color:#B5B5AC;}
.permissions-lock-icon{ color:#00ADEF;}

/* tab  content icon style*/
.tabbed-content-main-icon{ color:#B5B5AC; }
.nav-tabs-vertical .panel-title{background-color:white;}

.nav-tabs-vertical .nav-tabs-line > li.active > a,
.nav-tabs-vertical .nav-tabs-line > li.active > a:focus,
.nav-tabs-vertical .nav-tabs-line > li > a:hover{border-right:2px solid #B5B5AC; color:#B5B5AC;}
.nav-tabs-vertical .tab-content{border-left:1px solid #ccc;}
.nav-tabs-vertical div[id^=accordion_]{ border-top:1px solid #E0E0E0;}
.switched_off{box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223);
	transition: border 0.4s, box-shadow 0.4s; background-color: rgb(255, 255, 255);}

/* System wide action button styling */
.contents_frame{ border: 1px solid #E0E0E0; }
body.guests .contents_frame, body.transactions.edit .contents_frame{ border: none; padding: 0 }

/* page overlay styles*/
.loading_page{ color:black; background:rgba(255,255,255,.8); }
.loading_widgets{ color:#fff; background:#272727; }
.loading_widgets h3{ color:#fff; }
.loading_widgets .fa-spin{ color:#fff; }
.no-data-found, .loading{  position: absolute; left: 50%; top: 40%; transform: translate(-50%, -40%);}
.inactive-widgets .grid-item{height:40px !important; width:200px !important; position:absolute; top:0; left:0; overflow: hidden }
.inactive-widgets .grid-item .panel-actions, .inactive-widgets .grid-item .loading{display:none !important}
.popover {  z-index: 4550;}
.swal2-container {z-index:4600;}
.widgets-editor .show-mode .remove-widget { display: none }
.widgets-editor .edit-mode .remove-widget { display: inline-block }

#noInactiveWidgets h3, .grid.edit-mode #noActiveWidgets h2 {color:white}
#noInactiveWidgets p, .grid.edit-mode #noActiveWidgets p {color:#9e9e9e}

/*/* Button styling
/*---------------------------------------------------*/
.btn-info{background:#B5B5AC; border-color:#B5B5AC; color:#fff}
.btn-info:hover, .btn-info:focus, .btn-info.focus{background:#B5B5AC; border-color:#B5B5AC; color:#fff}
.btn-info.active, .btn-info:hover,
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus,
.btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus{background:#fff;color:#B5B5AC;border-color:#B5B5AC;}
.btn-info.active:hover{background:#B5B5AC;border-color:#B5B5AC;}
.btn-primary{background-color:#B5B5AC;border-color: #B5B5AC;}
.form-control.focus, .form-control:focus{border-color: #B5B5AC;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus{background-color:#444;}
.btn-info.active:hover{color:#fff;}

.btn-danger{background:#ef5350; border-color:#ef5350; color:#fff}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus{background:#ef5350; border-color:#ef5350; color:#fff}
.btn-danger.active, .btn-danger:hover,
.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus,
.btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus{background:#fff;color:#ef5350;border-color:#ef5350;}
.btn-danger.active:hover{background:#ef5350;border-color:#ef5350;}
.btn-danger.active:hover{color:#fff;}
/*.btn .fa{margin-right:5px;}*/

/******************** Table overrides ******************************************************/
table.dataTable.table-bordered>tbody>tr>td,
table.dataTable.table-bordered>tbody>tr>th,
table.dataTable.table-bordered>tfoot>tr>td,
table.dataTable.table-bordered>tfoot>tr>th,
table.dataTable.table-bordered>thead>tr>td,
table.dataTable.table-bordered>thead>tr>th{border:none; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
table.dataTable td a{color:#333; }
table.dataTable td a:hover{color:#B5B5AC;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{color:#FAFAFA!important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:#ED4423 !important; background:#fff!important;border:none!important;}
.dataTables_wrapper .dataTables_filter input{border:1px solid #ccc;}
.dataTables_wrapper .dataTables_length select{border:1px solid #ccc;}
.dataTables_wrapper{border: 1px solid #ccc;}
i.action{ padding-left:10px; }
/*a.action{background:#B5B5AC; border-radius:50%; }*/
table a.action{text-decoration:none;}
.table-bordered > thead:first-child > tr:first-child > th {border:none; border-bottom:2px solid #e0e0e0; border-right:1px solid #ccc;}

/* Sites (My Estate) has a link on TR, this will make it look like a link */
#sites-table_wrapper table.dataTable.hover tbody tr:hover,
#sites-table_wrapper table.dataTable.display tbody tr:hover {color:#fff; background:#00adef;}
#sites-table_wrapper table.dataTable.hover tbody tr:hover a,
#sites-table_wrapper table.dataTable.display tbody tr:hover a{color:#fff;}
#sites-table_wrapper table.dataTable.hover tbody tr:hover a.action_status .text-success,
#sites-table_wrapper table.dataTable.display tbody tr:hover a.action_status .text-success{color:#ade6af}
#sites-table_wrapper table.dataTable.hover tbody tr:hover a.action_edit .text-info,
#sites-table_wrapper table.dataTable.display tbody tr:hover a.action_edit .text-info{color:#fff}
#sites-table_wrapper table.dataTable tbody td {padding:0;}
#sites-table_wrapper table.dataTable tbody td a{display:block; padding:8px 10px;}
#sites-table_wrapper table.dataTable tbody td a.action {display:block; float:left; padding:8px 0 0 0; width:auto; height:auto;}

table.dataTable .datatable-capital, .capitalize-text {text-transform: capitalize;}

body.guests.edit .dataTables_wrapper,
body.transactions.edit .dataTables_wrapper{border:none}
/* Ovewrride the CDN links */
table.dataTable thead .sorting {
	background-image: url("/admin/templates/system/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
	background-image: url("/admin/templates/system/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
	background-image: url("/admin/templates/system/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
	background-image: url("/admin/templates/system/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
	background-image: url("/admin/templates/system/images/sort_desc_disabled.png");
}

table.dataTable thead th,
table.dataTable thead td{border-bottom:none; padding:10px 28px 10px 10px}
table.dataTable.no-footer {border-bottom:none}
table.dataTable.table-bordered{border-right:none;}
table.dataTable thead th, table.dataTable tfoot th{font-weight:normal;}
table.dataTable td{}
table.dataTable td a.action{display:inline; padding-left:0}
table.dataTable td a{text-decoration:none; display:block; width:100%; height:100%; }
table.dataTable td a:hover{text-decoration:none;}
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.hover{border-radius:50%; padding:0; width:22px; height:22px; }*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current{background:none;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.hover,
.dataTables_wrapper .dataTables_paginate .paginate_button{border:none;}

.dataTables_wrapper .dataTables_length select{ padding:3px; margin-bottom:10px;}
.dataTables_wrapper{ padding:20px; overflow: hidden;min-height:230px; overflow: auto;}

.loading_datatable{ position: absolute; top: 62px; left: 0; width:100%; height: 4000px; z-index:1000; color:black;
	background:white; text-align:center; padding:50px; display:none; padding-top:0px
}
.loading_datatable .fa-spin{ font-size:28px	}

/******************** END Table overrides ******************************************************/

label.error{position:absolute;}

/* latency styles*/
.grid-item .panel-heading, .inactive-widgets .panel-heading{height:40px; padding:0px;}
.grid-item .panel-draggable, .inactive-widgets .panel-heading{padding:6px;width:100%;}
.grid-item .panel-title, .inactive-widgets .panel-title{display: inline-block; padding:0px;}
.grid-item .panel-draggable i, .inactive-widgets .panel-draggable i{padding:0 6px;position: relative; top: -7px;}

/* toggle icon on widget */
.grid-item .panel-actions .fa-stack .fa.fa-circle { opacity:1.0; color:#aaa;}
.grid-item .panel-actions .fa-stack:hover .fa.fa-circle { color: #00adef;}
.grid-item .panel-actions .fa.fa-expand, .grid-item .panel-actions .fa.fa-pencil { color: #444; }
.grid-item .panel-actions .fa.fa-cog, .grid-item .panel-actions .fa.fa-cog { color: #444; }

/*caret select-gateway {border-width:8px; !important;}*/
.grid-item .widget-sub-menu{ background-color: #ccc; }
.grid-item .widget-sub-menu li a{ color:#333; }
.grid-item .widget-sub-menu li a:hover{ color:#fff; }
.dropdown-menu.widget-sub-menu{margin :0; z-index: 10000}

body.online-now .gateway-menu .btn-group{box-shadow: none}

.smaller-screens-only .btn-group{position:absolute;left:0; top:0; background-color:#ccc; width:100%; z-index:100; webkit-box-shadow:none; box-shadow: none;}
.grid-item .nav-tabs-vertical .tab-content{min-height:450px;}
.grid-item.toggled:not(.wan-throughput) .tab-content{ padding-top: 40px;}
.grid-item.toggled .nav-tabs-vertical .tab-content{border:none;}

.grid-item.prtg .widget-inner .tab-content {height: auto; background-color: #efefef;}


.grid .grid-item.toggled .smaller-screens-only{display:block;}
.grid .grid-item.toggled .nav-tabs-vertical .tab-content{border:none;}
.grid .grid-item.toggled .larger-screens-only{display:none;}

@media only screen and (min-width : 769px) {
	.grid .grid-item .smaller-screens-only{display:none;}
	.grid .grid-item .larger-screens-only{display:block;}
}

.grid-item ul.nav-tabs{max-height:460px; overflow-y:auto;}
.grid-item ul.nav-tabs.prtg-nav {height:auto; overflow-y:initial;border:0;}

.grid.edit-mode{ outline: 1px #ccc dashed; height: 500px;}
/* end latency styles */



/*/* Widget Styling
/*---------------------------------------------------*/
#inactive-widget-list .site-menu-category{color:#B5B5AC;}
/* messages widget styling */
.list-group-item{border-bottom:1px solid #ccc;}
.message-type.success{color:#46be8a;}
.message-type.failed, .message-type.error{color:#f96868;}
.message-type.warning{color:#f2a654;}
.message-created{color:#757575;}
/* ---- .grid-item ---- */
.widget-inner, .panel-body{background-color:#fff;}
.grid-item{  background: #fff;}
.grid .panel-heading, .inactive-widget .panel-heading{ border-radius: 0; background-color: #444;}
.grid .panel-title {color:#ccc;width: 62%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;margin-top:3px;}
.inactive-widget .panel-title{color:#ccc;width: 84%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;}
.grid-item--width1 .panel-title small{display:none;}
.grid-item--width2 .panel-title small, .grid-item--width3 .panel-title small,
.grid-item--width4 .panel-title small{color:#ccc;}
.widget-inner{border:1px solid #444; border-top:none}
.small-line-height{line-height: 1em;}
.grid .panel-heading i, .grid a.panel-action{color:#aaa;}
.grid a.panel-action.remove-widget:hover{color:#ff6666;}
.grid i.widget-help:hover{color:#77dd77;}

.grid .panel-footer{border-top: 1px solid #e0e0e0;background-color:#444;}
.panel-footer a{color:#fff;}
.panel-footer a:hover{color:#B5B5AC;}
.packery-drop-placeholder {outline: 3px dashed hsla(0, 0%, 0%, 0.5);}
.widget-help{margin-top:6px;}

.bg-guest-reports{background-color: #448fa3 !important;}
.bg-technology-reports{background-color: #00445e  !important;}
.bg-financial-reports {background-color: #b86a21 !important;}

/*Panel porlets styles*/
.grid-stack-item-content { font-size: 20px; color: #526069; text-align: center; background: grey; }
.grid-stack-item-content .fa { display: block; margin: 20px 0 10px; font-size: 64px; }

/*map widget styling*/
/*remove the white gap that appears above the map within a widget*/
.grid-item.map.toggled:not(.inactive) .widget-inner #map{top:-2px;}

/* PRTG widget styling */
.grid-item form{margin-top:0;}
.widget-inner{position:relative;}

/* Gateway Logs add scrollbar*/
#gatewayLogsWidget {overflow:auto;}

/*/* menu styling*/
/*-------------------------------------------------*/
.site-menu-item{border-bottom: 1px solid #B5B5AC;}
/*.site-menu-item a:hover{color: #fff;}*/
.site-menu-sub{background:#DCDCD0;}
.site-menubar{background:#fff;}
.site-menu>.site-menu-item.active{background:#fff;}
.site-menu>.site-menu-item.open{background:#B5B5AC;}
.site-menu>.site-menu-item.open>a, .site-menu .site-menu-sub .site-menu-item.active > a{color:#fff;background:#B5B5AC;}
.site-menu .site-menu-item a{color:#444;}
.site-menu .site-menu-item a:hover, .site-menu .site-menu-item.active{color:#fff;background:#B5B5AC!important;}

/*/* dev/sys admin menu styling*/
/*-------------------------------------------------*/
.dev-menu .site-menu-item a:hover,
.dev-menu .site-menu-item.active {color:#B5B5AC;}
.dev-menu.site-menu > .site-menu-item.active > a {color:#B5B5AC; }
.dev-menu.site-menu .site-menu-category{color:#B5B5AC;}
.dev-menu .site-menu-item a:hover, .dev-menu .site-menu-item.active{background:#fff;color:#B5B5AC;}

/*/* header and breadcrumb styling*/
/*---------------------------------------------------*/
.system-header .nav>li>a:focus, .system-header .nav>li>a:hover,
.breadcrumbs .nav>li>a:focus, .breadcrumbs .nav>li>a:hover{ background-color: rgba(255,255,255,0.2);}
a.current{color:#B5B5AC;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color:#444;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{background-color: #B5B5AC; color:#fff;}
.breadcrumbs .fa{color:#fff;}
.breadcrumb>li+li:before{color:#fff;}
.breadcrumb>li a{color:#fff;}
.breadcrumbs{ background-color:#444; }
.breadcrumb-menu.dropdown-menu{background:#444;}
.username{color:#fff;}
.user-role{color:#B5B5AC;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {color:#B5B5AC; background-color:#545454;}
.dropdown-menu > li > a {color:#fff;}
.navbar-mega .dropdown-menu {background:#444; border-top:1px solid #fff;}
.breadcrumbs .unclickable {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}

/*/* inner page styling*/
/*---------------------------------------------------*/
.page{background:#fff;}

.role-widget-panel-group{border-top:#eee 1px solid;border-bottom:#eee 1px solid;}


/* PRTG widget styling */
.prtg-tab-content img{width:100%; height: auto; padding: 20px 30px  0 30px; min-width:300px;}
.toggled .default-prtg-img{display:none;}
.toggled .toggled-prtg-img{display:block;}
.default-prtg-img{display:block;}
.toggled-prtg-img{display:none;}
.prtg-widget-buttons{width:100%;height:60px;}
.widget-buttons-inner{position: absolute; left:30%;}
.widget-buttons-inner-container{margin-top:10px;width:60%; height:100px; margin:auto;}
.prtg-block{ display:inline-block; text-align:center;
	width: calc(100% / 3 - 10px); margin-top: 10px;}

.show-add-prtg.panel-actions{
	position: absolute!important;
	top: -32px!important;
	right: 88px!important;
}
.grid .show-add-prtg a{padding:0;}


/*/* footer styling*/
/*---------------------------------------------------*/
.site-footer{ background-color: #444; border-top: 1px solid #e4eaec; }
.site-footer .site-footer-content{color:#fff;}
.main-footer{height:250px;background-color:#444;}

/*/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*.site-menubar{background:#444;}*/
	/*.site-menu-item{ border-bottom: 1px solid #ccc; }*/
	/*.site-menu .site-menu-item a{color:#fff;}*/
	/*.site-menu .site-menu-sub{background:#fff;}*/
	/*.dev-menu .site-menu-item a:hover, .dev-menu .site-menu-item.active{background: #B5B5AC;color: #fff; }*/
	/*.site-menubar-fold .site-menu>.site-menu-item>.site-menu-sub{background:#DCDCD0;}*/
	/*.site-menu-sub .site-menu .site-menu-item a{color:#444;}*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	li.list-group-item:nth-child(odd) {background-color:#f1f1f1;}
	.nav-pills>li>a {
		padding: 9px 0px;
		border-radius: 0;
		font-size: 12px;
	}
	.breadcrumbs{height:auto!important;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.username, .user-role {color: #fff;}

}

/** Highlight colours
.highlightx {background-color: #ffa99a}
.highlight1 {background-color: #f0ff79}
.highlight2 {background-color: #aeff86}
.highlight3 {background-color: #97ffeb}
.highlight4 {background-color: #91d2ff}
.highlight5 {background-color: #d1b3ff}
**/
.search-results h3{margin-bottom:0;}
.search-results p{margin-bottom:20px;}
.search-results h3 a{color: #333; font-size: 22px}
.search-buttons {margin-top: 40px}
.search-buttons a{font-size: large; color: #333; text-decoration: none;}
.search-results-details{margin-right:20px;margin-left:20px;font-size: smaller}
.search-result-url{color:#ccc; font-size: small}
.search-panel{background: #444; padding: 0 0px 0 60px;border: 1px #ccc solid;}
.search-panel label{color: #ccc}
/**********************************************************************************************************************
********************************** End Colours ************************************************************************
**********************************************************************************************************************/


/**********************************************************************************************************************
********************************** Structure   ************************************************************************
**********************************************************************************************************************/
.col-inner-border{border:1px #ccc solid;padding:20px;margin-bottom:30px}

.font-size-34{font-size:34px!important;}
.font-size-16{font-size:16px!important;}
.font-size-32{font-size:32px!important;}
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }

.system-scrollbar{
	overflow-y: hidden;
}
.system-scrollbar:hover{
	overflow-y: scroll;
}
.system-scrollbar-inner{width:98%;}
.system-scrollbar-inner .list-group{margin-left:5px;}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #B5B5AC;
}

/* edit/create site page*/
body.users.edit .contents_frame,
body.users.create .contents_frame,
body.vouchers.edit .contents_frame,
body.vouchers.create .contents_frame,
body.networking.hardware.edit .contents_frame,
body.networking.hardware.create .contents_frame,
body.gateways.edit .contents_frame,
body.gateways.create .contents_frame,
body.manage.site .contents_frame,
body.sites.create .contents_frame,
body.sites.edit .contents_frame{padding:0;border:0;}

/*
.mailchimpCredentials, .campaignMonitorCredentials, .pms-type, .paypalCredentials, .worldpayCredentials, .roaming-container{display:none;}
.form-bordered-section{border:1px solid #ccc;padding:20px;margin:10px 0}
*/

/* Groups */
select.form-control + .chosen-container .chosen-results li.group-result{font-weight:normal; color:#949494;}
select.form-control + .chosen-container .chosen-results li.group-option{padding:3px 20px 3px 40px}
.mce-edit-area{width:99.9%!important;}


/* manage packages page*/
body.manage.packages .page-content{margin-bottom:150px;}
body.manage.packages .chosen-container .chosen-drop{ z-index: 3010;}

/* user profile styles */
.profile-username, .profile-role{font-size:24px;margin:10px 0;}
.avatar-small{display:none;}
.center-text{text-align: center;}
/* bootstrap chosen  */
select.form-control + .chosen-container-multi .chosen-choices{padding:3px;border: 1px solid #e0e0e0;border-radius:0;}
select.form-control + .chosen-container-multi .chosen-choices li.search-choice{margin:3px; line-height: 1;}
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{top:5px;}
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"]{padding:5px 6px;}
select.form-control + .chosen-container.chosen-container-single .chosen-single{box-shadow:none; border-color:#e0e0e0; color:#757575;}
select.form-control + .chosen-container .chosen-results li.disabled-result{color:#ccc }

/* Override bootstrap padding so slider text box lines up with end of "vanilla" slider */
.slider-text { padding-right: 0;}

/* form specific styling */
form label{font-weight:400;}
.page-content form{position:relative;margin-top:20px;}
.example-title, h4.example-title{margin-left:-15px;}
.form-control{border-radius:initial;}
.input-container{ margin-bottom:5px;}
@media (max-width:991px) {
	.input-container .pull-right {float:left!important;}
	.input-container .form-help{display:none}
}

/* Color picker form styles*/
.colorInputUi-wrap{width:100%;}

/* Range picker*/
.asRange{margin:12px 0;}
.rangeUi-bar{height:10px;}
.rangeUi-pointer{ height:20px;width:20px; top:-5px;}
.rangeUi-selected{height:10px;}
.rangeUi-tip { white-space: nowrap; }
/* popover styling */
i.form-help{font-size:1.4em;}
i.form-help:hover{cursor:pointer;}
i.form-help:focus{outline: none;}
.popover{min-width:200px;border-radius:0;}
.popover-title{border-radius:0;}

.highcharts-container *{font-family: "Roboto"}
/* tab content workaround for highcharts resizing */
.grid-item .tab-content > .tab-pane { display: block; height: 0; overflow-y: hidden; }
.grid-item .tab-content > .active { height: auto; }
/*.latency-tabbed-charts .nav>li>a:focus, .latency-tabbed-charts .nav>li>a:hover{ background-color:transparent; }*/
.widget-submenu-container .dropdown-menu > li > a{color:#333;}
.widget-submenu-container .dropdown-menu > li > a:hover{color:#fff;}
.widget-submenu-container .dropdown-menu>.active>a, #latency-sub-dropdown .dropdown-menu>.active>a:focus,
.widget-submenu-container.dropdown-menu>.active>a:hover{background-color:#333;color:#fff;}
/* toggle button styles*/
.toggle-size .fa-stack, .edit-widget .fa-stack { width: 1.4em; height: 1.4em;margin-top: -1px;}
.toggle-prtg-settings .fa-stack, .edit-widget .toggle-prtg-settings .fa-stack { width: 1.4em; height: 1.4em;margin-top: -1px;}
.edit-mode .toggle-prtg-settings .fa-stack {margin-top: -5px;}
.edit-mode .toggle-size .fa-stack {margin-top: -5px;}
.toggle-size  .fa-stack-2x, .edit-widget .fa-stack-2x{ font-size:1.4em; }
.toggle-prtg-settings  .fa-stack-2x{ font-size:1.4em; }
.toggle-size .fa-stack-1x, .edit-widget  .fa-stack-1x{ line-height:1.7em; }
.toggle-prtg-settings .fa-stack-1x, .edit-widget  .fa-stack-1x{ line-height:1.7em; }
.toggle-container{ margin: -3px -3px 0 0; }

/* tab  content icon style*/
.tabbed-content-main-icon{ font-size:6em; margin-top: 60px; }
.permissions-lock-icon{ font-size:2em; margin: 10px; }
.permissions_title{padding-left:30px;}
.nav-tabs-vertical .nav-tabs{ padding-left:20px;  overflow: hidden;}
/*.nav-tabs-vertical .nav-tabs > li {margin-right:0}*/
/*todo:check following code*/
.nav-tabs-vertical .nav-tabs-line > li > a.role_name{width:90%; padding:10px 0; height:40px;}
.nav-tabs-vertical .nav-tabs-line > li > a.role_edit{width:10%; padding:15px 0 5px 0; height:40px; border:none!important;}
.nav-tabs-vertical .nav-tabs-line > li > a.role_edit:hover{border:none}
.nav-tabs-vertical .tab-content{position:relative; left:-1px; min-height:400px;}
.nav-tabs-vertical .role_permission{padding-bottom:20px;}
.nav-tabs-vertical div[id^=accordion_]{margin-bottom:0;}
.nav-tabs-vertical .tablesaw thead th{text-transform:capitalize;}
.buttons{margin-top:20px}

.widget-tab-menu li.active a{background-color: rgba(0,0,0,0.8)}
.widget-tab-menu li.active a:hover{background-color: rgba(0,0,0,0.8)}
.widget-tab-menu li.active a:focus{background-color: rgba(0,0,0,0.8)}
.widget-tab-menu li a{background-color: rgba(0,0,0,0.2)}
.widget-tab-menu li a:hover{background-color: rgba(0,0,0,0.5)}
.widget-tab-menu li a:focus{background-color: rgba(0,0,0,0.2)}
.grid-item .nav-tabs-vertical .tab-content{border-left:1px solid rgba(255, 255, 255, 0.2);}
.grid-item .nav-tabs-vertical .nav-tabs > li.active > a,
.grid-item .nav-tabs-vertical .nav-tabs > li > a:hover,
.grid-item .nav-tabs-vertical .nav-tabs > li.active > a:focus {	border-right: 1px solid rgba(255, 255, 255, 0.2)!important;	}

.widget-tab-menu {float: left; border-right:  1px solid transparent; border-bottom: 1px solid transparent;}
.widget-tab-menu li a {border-bottom: 1px solid transparent !important;}
.grid-item .nav-tabs-vertical .nav-tabs  {border-right: 1px solid transparent !important;}

/*.latency-tabbed-charts .nav-tabs > li > a{padding: 0 20px 20px 0;}*/
textarea.vertical {resize: vertical;}

/*.buttons .save_all{margin-right:20px}*/
.disabled{opacity: 0.5;pointer-events: none;}

#search_roles,
#search_permissions{border:1px solid #E0E0E0; padding:2px 10px}

/* height and width additions -  before adding any height and widths here check the site.css file as there are some in there */
.height-430{height:430px;}

/* header styling */
h2.title{margin-top:0;}
h2.title small{margin-left:5px;}
.title h2{margin-top:0;}

/* System wide action button styling */
.contents_frame{ position: relative; height: auto;padding:20px;  border: 1px solid #E0E0E0; }
form .form_actions{position:absolute; top:-60px; right:0;}
.form_actions{ position: absolute; right: 0px; top: 14px; }
/*.form_actions{ position: absolute; right: 15px; top: 38px;}*/
.form_actions .btn-sm{border-radius:50%; height:40px; width:40px; text-align:center; margin-left:5px}
.form_actions .btn-sm .fa_circle{padding-top:7px;}

/* page overlay styles*/
.loading_page{ position: fixed; top: 0; left: 0;width:100%; height:100%; z-index:5000; text-align:center; padding:50px; display:none; padding-top: 350px  }
.loading_page .fa-spin{ font-size:28px }
.loading_widgets{ position: fixed; top: 0; left: 0;width:100%; height:100%; z-index:5000; text-align:center; padding: 350px 50px 50px 50px; display:none; }
.loading_widgets .fa-spin{ font-size:38px; }
.system-edit-overlay{ color:white; background:#444; opacity: 0.8; position: fixed; top: 0; left: 0;width:100%; height:100%; z-index:2100; text-align:center; padding: 350px 50px 50px 50px;  display:none; }
.scrollable-content{padding-bottom:100px}
.user-profile-container .profile-cancel {padding:0; width:30px; height:30px; border-radius:50%; border:2px solid #757575; background-color:#ccc !important; color:#5f5f5f !important;}

/*!* Button styling
/*---------------------------------------------------*!*/
.btn{border-radius:0; -webkit-font-smoothing:none; box-shadow:none; -webkit-box-shadow:none;}

/*!* Widget Styling
/*---------------------------------------------------*!*/
.widget-scroll-div-height{height:85.1%;}
/* inactive widget menu styling*/
/* height:120%; was to fix the main menu showing underneath when switching between inactive widget menu and main menu */
#inactive-widget-list{display: none;position: absolute;z-index: 2000;height: 120%;margin-top: 38px;}
#inactive-widget-list .site-menu-category{font-size:1em;font-weight:bolder;padding:0;}
#inactive-widget-list .panel{margin-bottom:10px;}
#inactive-widget-list .site-menu-category{margin-top:0;}
/* messages widget styling */
.list-group-item{margin-bottom:0;padding:15px;}
.message-type,.message-created{width:100%;}
.message-second{margin-top:10px;}
.message-created{margin: -10px 0 0 0;}
.message-first .image{width:20%;float:left;}
.message-first .message-details{width:80%;float:left;text-align:left;}
/*fixed the margin issue in the scrollable div*/
.messages-widget .scrollable.is-enabled { width: 100%!important;}
/*!* draggable dashboard styling*/
/*---------------------------------------------------*!*/
.grid-item.title-widget{margin-bottom:20px;height:auto;border:none;background:none;}
.grid-item.title-widget h2.title {font-size:30px;margin-bottom: 14px;margin-top:0px;}
.grid-item.title-widget .panel-heading{border-bottom: none;}
.grid-item.title-widget .panel-actions{top: 24px;}
/*!* ---- grid ---- *!*/
.grid{ min-height:300px;}
/*.grid-sizer,*/
.grid-item {  z-index: 1;}
/* clear fix */
.grid:after { content: '';display: block;clear: both;}
.grid-sizer,
.grid-item { width: 238px; height:250px;}
.grid-item .panel-body{ height:209px;}
.gutter-sizer { width: 30px; }
/* 2 columns wide */
.grid-item--width2 { width: 506px; }
.grid-item--width3 { width: 773px; }
.grid-item--width4 { width:100%; }
.grid-item--height2 { height:530px; }
.grid-item--height3 { height:810px; }
.grid-item--height4 { height:1088px; }
/* take 40px off the height of the grid item for the panel body*/
/* was 490px */
.grid-item .panel-body{height:100%;}
/*.grid-item--height2 .panel-body, .grid-item--height3 .panel-body{height:100%;}*/
.grid-item .widget-inner{height:100%; height: calc(100% - 40px);}
.grid-item.prtg .widget-content{height: 100%; padding:20px 20px 0; background-color: #efefef;}
/*.grid-item--height2 .widget-inner, .grid-item--height3 .widget-inner{height:100%; height: calc(100% - 40px);}*/
/* ---- .grid-item ---- */

/*.grid-item.prtg{height: auto!important;}*/
.widget-inner .padding10{ padding:10px; }
.widget-inner .padding15{ padding:15px; }
.widget-inner .padding20{ padding:20px; }

.panel-draggable{ /*float: left;*/cursor: move;}
/*.panel-heading{padding:0;}*/
/*.panel-title { padding: 10px; height:40px;}*/
.grid-item .panel-actions{ padding: 4px 15px 4px 35px; height: 40px; position: absolute; top: 0; right: 0; z-index: 1; margin: 0;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.panel-actions .panel-action{ padding:5px;}
.panel-body{padding:10px;}
/* fix the width on the widgets scrollable content - this does not work when the widget is toggled as the jquery
plugin asScrollable needs to refresh */
.panel-body.scrollable-vertical > .scrollable-container > .scrollable-content{padding:0;width:100%;}
.panel-footer{padding:15px;margin-bottom: 0px;}
/*.panel-footer{padding: 10px 30px 0 15px;height:38px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}*/
.panel-footer a{display:block;text-align:center;height:40px;}
.panel-footer a:hover{text-decoration:none;}
.grid-item.messages .panel-footer{padding:0;}
.grid-item.messages .panel-footer a { display: block; height: 40px; padding: 10px 0;}
/* stops the dragged widget from going behind existing widgets  */
.grid-item.ui-draggable-dragging, .grid-item.is-positioning-post-drag { z-index: 2; }
/* dashed lined to show the user where the dragged item will land*/
.packery-drop-placeholder { outline-offset: -6px; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

/*!* menu styling*/
/*-------------------------------------------------*!*/
/* structure */
.site-menubar-unfold.site-menubar-flipped .page,
.site-menubar-unfold.site-menubar-flipped .site-footer { margin-right: 195px;}
.site-menubar-unfold .page, .site-menubar-unfold .site-footer { margin-left: 195px }
.site-menubar-unfold.page-aside-fixed .page-aside { left: 195px }
.site-menubar-unfold .site-menu-title:first-child { margin-left: 0; }
.site-menubar-unfold .site-menu>.site-menu-item>a { padding: 5px 10px; }
.site-menu .site-menu-sub .site-menu-item > a{padding: 0 10px;}
.navbar-default{ background-color: transparent; }
.site-menubar { z-index: 0; -webkit-box-shadow: none; box-shadow: none; }
.site-menubar a { outline: 0}
.site-menu { overflow-y: initial;}
.site-menu-item>a { white-space: initial; }
.site-menu-title { overflow: initial; text-overflow: initial; white-space: initial; vertical-align: initial;}
.site-navbar{ z-index:4000; background-color: #222; }
.site-menubar-unfold .site-menubar{width:195px;}
.site-menu-icon { margin-right: 14px;}
.site-menubar{top:64px; margin-top:42px;}
.site-menu-arrow, .site-menu-badge, .site-menu-label{right:15px;}
.site-menu-item.has-sub.open{border:none;}
.site-menu .site-menu-sub{padding:0;}
.site-menubar-unfold .site-menu>.site-menu-item>a .site-menu-title{font-size:16px;}
.navbar {-webkit-box-shadow:none; box-shadow:none;}
.nav.nav-tabs .navbar-close {position: absolute; top: 1px; right: 5px; color: #000;cursor:pointer;}
.nav.nav-tabs .active .navbar-close {color:#fff;}
/* hide the inactive widget menu as default */
#inactive-widget-list{display:none;margin-top: 57px;}
.site-menu > .site-menu-item.active {border-top:none; }
.dev-menu .site-menu-item a:hover, .dev-menu .site-menu-item.active {background:none!important; border-top:none; border-bottom:none}
.scrollable-inverse.scrollable .scrollable-bar-handle{background:none;}

/*!* dev / sys admin menu styling*/
/*---------------------------------------------------*!*/
/* structure */
.dev-menu.site-menu>.site-menu-item>a, .dev-menu.site-menu>.site-menu-item>a .site-menu-title{ font-size:14px; }
.dev-menu .site-menu-item{border:none;margin: -10px 0 0 -10px;}
.dev-menu .site-menu-icon{font-size:1.2em;}
.dev-menu .site-menu-title:first-child{margin-left:0;}
.dev-menu.site-menu>.site-menu-item>a{line-height:1.8em;}
.dev-menu.site-menu .site-menu-category{font-size:1em;font-weight:bolder;padding:0;}


/*!* header and breadcrumb styling*/
/*---------------------------------------------------*!*/
/*a.logout{margin:14px 10px 0 10px; padding:8px 12px!important; border:#757575 1px solid; border-radius:50%; background:#323232;}*/
a.current.no-hover:focus, a.current.no-hover:hover, .breadcrumbs .nav>li>a.no-hover:focus, .breadcrumbs .nav>li>a.no-hover:hover
{  background-color:initial;}
.nav-pills>li>a{padding:9px;border-radius:0;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{margin-left:0;}
.navbar-brand{margin-left:0;padding-left:0;}
.avatar i{ display:none; }
.breadcrumb{padding:10px 0 0 5px;margin-bottom:0;}
.breadcrumbs .fa{padding-top: 16px; font-size: 8px; margin: 0 10px;}
.breadcrumbs{ padding:0 10px; height:40px;}
.breadcrumbs .navbar-toolbar>li>a{padding:10px;}
.user-details{margin-top:14px;}
.username, .user-role{width:100%;text-align: right;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {text-decoration:none;}
.navbar-mega .dropdown-menu {border-radius:0; top:35px; left:-12px;}


/*!* inner page styling*/
/*---------------------------------------------------*!*/
.page{margin: 56px 0;}
.page-content {padding:24px 0 0 40px;}
.site-menu-item{max-width: 195px;}
.layout-boxed { padding: 0 20px; background: none;}

/*!* footer styling*/
/*---------------------------------------------------*!*/
.site-footer{ margin-left:0!important; height: 44px; padding: 10px 30px; position: fixed; bottom: 0; z-index: 3000; width: 100%;}
.site-footer .site-footer-content{text-align:center;}
.main-footer{height:250px;margin-left:40px;}



/*********************** Profile section ****************************/
.profile-border{border-bottom:#444 1px solid;}
.profile-border-top{border-top: #5f5f5f 1px solid;}
.nav .open>a.navbar-avatar{background:#444444}

.user-profile-container{width:100%; background-color:#444; display:none; height:auto}
.user-profile-container .profile-avatar{border:5px solid #5f5f5f; border-radius:50%; float:left}
.user-profile-container .profile-username{float:left; text-shadow:none; color:#eee; font-size:22px; padding-left:10px; padding-top:20px; font-weight: normal;}
.user-profile-container .profile-username small{font-size:16px; color:#ccc; font-weight:normal;}
.user-profile-container .form-control,
.user-profile-container select.form-control + .chosen-container.chosen-container-single .chosen-single{background-color:#5f5f5f; color:#ccc; border:1px solid #5f5f5f;}
.user-profile-container i.form-help{color:#ccc;}
.user-profile-container i.form-help:hover{color:#fff;}
.user-profile-container button.btn{background:#5f5f5f; color:#eee }
/*********************** END Profile section ****************************/



/*!* media queries*/
/*---------------------------------------------------*!*/
/*!*==========  Non-Mobile First Method  ==========*!*/
@media only screen and (max-width : 1300px) {
	/* Responsive widget styling*/
	.grid-item--height2 { height:525px; }
	.smaller-screens-only{display:none;}
	.larger-screens-only{display:block;}
}

/*!* Large Devices, Wide Screens *!*/
@media only screen and (max-width : 1200px) {
	h2.title small{display: block;font-size:15px;}
	/*menu styling*/
	.site-menubar-unfold .page, .site-menubar-unfold .site-footer{ margin-left: 175px;}
	.site-menubar ul { margin: 20px 10px; }
	.site-menubar{margin:0;left:0px;}
	.site-menubar-fold .site-menu>.site-menu-item>a .site-menu-title{ visibility: visible; opacity: 1; }
	.site-menubar-fold .site-menu>.site-menu-item>a .site-menu-icon{margin-top:10px;}
	.site-menubar-fold .site-menu>.site-menu-item>a .site-menu-icon, .site-menubar-fold .site-menu>.site-menu-item>a .site-menu-title{margin-top:15px;}
	.site-menubar-fold .page, .site-menubar-fold .site-footer{margin-left:50px;width:100%;}
	/* Responsive widget styling*/
	.grid-item--height2 { height:525px; }
	.breadcrumbs{padding:0 10px;}
	/* messages widget styling */
	.message-first .image{width:25%;float:left;}
	.message-first .message-details{width:75%;float:left;text-align:left;}
	/*.message-second{margin-top:10px;}*/
	.message-created{font-size: .8em;}
	/* page styles */
	.page-content { padding: 20px 0 0 40px; }
	.smaller-screens-only{display:none;}
	.larger-screens-only{display:block;}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.panel-group .panel{margin-bottom:20px;}
	/*small text to move under main heading*/
	.panel-title small{display:block;}
	.grid-item, .grid-item--width2{width:48.5%;}
	.grid-item--width3, .grid-item--large, .grid-item--width4 { width: 100%; ;}
	.grid-item--height2{ height:520px; }
	.list-group-item-text{height:50px;}
	.messages-widget .list-group-item{width:100%;float:left;border-bottom: none;padding:20px;}
	.message-first .image, .message-first .message-details{width:100%;float:left;text-align:center;}
	.message-second{text-align: center;}
	.message-created, .message-type{display:block;}
	.message-first .pull-right{text-align: center;float: none!important;}
	li.list-group-item:nth-child(odd) {background-color:#f1f1f1;}
	/*.profile-username, .profile-role{text-align: right;}*/
	.smaller-screens-only{display:none;}
	.larger-screens-only{display:block;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.smaller-screens-only{display:block;}
	.larger-screens-only{display:none;}
	.avatar-small{display:block;}
	.avatar-large{display:none;}
	.layout-boxed { width: 100%; padding:0; }
	.site-menubar-fold .page, .site-menubar-fold .site-footer{}
	.grid-item, .grid-item--width2,
	.grid-item--width3, .grid-item--large { width: 100% ;}
	.grid-item--height2{ height:510px; }
	.site-menubar{left: -20px;}
	.navbar-right{width:30%;float:left;padding:15px;}
	.site-menubar-unfold .site-menu>.site-menu-item>a{margin-left:20px;}
	.site-menubar-unfold .dev-menu>.site-menu-item>a, .dev-menu.site-menu .site-menu-category{margin-left:30px;}
	.breadcrumbs .layout-boxed{padding: 0 10px;}
	.page-content { padding: 20px 10px; }
	.site-menubar-unfold .page, .site-menubar-unfold .site-footer{margin-left:0px;}
	.username, .user-role { padding: 10px; line-height: 8px; text-align: left; }
	.navbar-right { width: auto; float: left; }
	.profile-username, .profile-role{text-align: center;}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.user-profile,.airangel-logout{width:45%;float:left;}
	.user-details{width:100%!important;}
	.user-details li{text-align:center;}
	.user-details li a{padding:0!important;}

	/*!* User profile */
	/*-------------------------------------------------*!*/
	.profile-username{font-size:16px;}
}



/******************************************************* Search *******************************************************/

.form-material input.form-control.search-guests {color: white; background-image: none }
.form-material input.form-control.search-guests:focus{background-image: linear-gradient(#62a8ea, #62a8ea), linear-gradient(#e4eaec, #e4eaec);}
.search-guests{height: 30px; margin-top: 5px;}
button.search-guests{width:30px; padding:0 !important; background-color:rgba(255,255,255,0.0)}

/******************************************************* End Search ***************************************************/
/******************************************************* Flex box *****************************************************/
/* To use FlexBox add .flex-container to each row then add .flex-cell to each col */
.flex-container{display:flex; flex-direction:column; flex-wrap:wrap; height:90vw;}
@media screen and (max-width:1007px) {
	.flex-container{display:block; height:auto}
}
/******************************************************* END Flex box *************************************************/
/******************************************************* File input ***************************************************/
.fileinput .thumbnail{overflow:inherit; background:url('/admin/templates/system/images/transparent.gif') 4px 4px;}
.fileinput-new,
.fileinput-preview{background:none}
/******************************************************* END File input ***********************************************/
/**********************************************************************************************************************
********************************** End Structure **********************************************************************
**********************************************************************************************************************/

/******************************************************* Modal *******************************************************/
.modal-open .modal {z-index:10000;}
.modal .modal-sidebar {min-height:100%; height:auto;}
.modal .modal-sidebar button.close {z-index: 10001;}
/******************************************************* End Modal ***************************************************/