.action_aaa{padding-left: 10px !important;}
.aaa{font-size: 11px !important;font-weight: bold !important;border: 1px solid;border-radius: 5px;padding: 3px;}
.widget-inner .panel-body{overflow: hidden}
.widget-inner .dataTables_wrapper{border:none}
.grid-item .gateway-icon {margin-right: 5px;}
.widget-chart-container{    height: 100%;}
#gatewayUpSpeedContainer {position:absolute;top:50px;left:0}
#gatewayDownSpeedContainer {position:absolute;top:270px;left:0}
#gatewayLogsContainer {margin-top: 30px;}
#siteListContainer#gatewayLogsContainer, #hardwareGatewaysContainer, #gatewayControlTable{font-size:12px}
#siteListContainer .dataTables_wrapper,#gatewayLogsContainer .dataTables_wrapper,#hardwareGatewaysContainer .dataTables_wrapper{padding:10px}
#siteListContainer,#gatewayLogsContainer,#hardwareGatewaysWidget,#apListWidget,#gatewayControlTable{overflow-y:auto;}
#siteListContainer table.dataTable thead th,#gatewayLogsContainer table.dataTable thead th,#hardwareGatewaysWidget table.dataTable thead th,#apListWidget table.dataTable thead th,#gatewayControlTable thead th,#gatewayControlTable tbody td,
#siteListContainer table.dataTable tbody td,#gatewayLogsContainer table.dataTable tbody td,#hardwareGatewaysWidget table.dataTable tbody td,#apListWidget table.dataTable tbody td{padding:6px 10px}
#siteListContainer .loading_datatable,#gatewayLogsContainer .loading_datatable,#hardwareGatewaysWidget .loading_datatable,#apListWidget .loading_datatable{top:0}

rect.highcharts-background{fill:transparent;}
.highcharts-yaxis-grid .highcharts-grid-line {	stroke-width: 1px;	stroke: rgba(255,255,255,0.2);}

#demographicsBody .super-demo {padding-top: 10px; text-align: center; color: white;}
#demographicsBody .super-demo .demo-icon{font-size: 70px;}
#demographicsBody .super-demo .demo-value{font-size: 50px;margin-top: -10px;}
#demographicsBody .super-demo .demo-desc{font-size: 24px; margin-top:-20px;text-transform: capitalize;}

#demographicsBody .big-demo {padding-top: 10px;text-align: center; color: white;}
#demographicsBody .big-demo .demo-icon{font-size: 40px;}
#demographicsBody .big-demo .demo-value{font-size: 28px; margin-top:-5px}
#demographicsBody .big-demo .demo-desc{font-size: 14px; margin-top:-10px;text-transform: capitalize;}

#demographicsBody .normal-demo {padding-top: 8px; float:left ; width: 50%;text-align: center; color: white;}
#demographicsBody .normal-demo .demo-icon{font-size: 26px;}
#demographicsBody .normal-demo .demo-value{font-size: 20px; margin-top: -3px;}
#demographicsBody .normal-demo .demo-desc{font-size: 12px; margin-top:-5px;text-transform: capitalize;}

#demographicsBody .small-demo {padding-top: 10px;padding-bottom: 20px; margin-right:10px; margin-left:20px; color: white;}
/*	#demographicsBody .small-demo .demo-details{ text-align: center;}*/
#demographicsBody .small-demo .demo-icon{ font-size: 35px;}
#demographicsBody .small-demo .demo-value{font-size: 20px;}
#demographicsBody .small-demo .demo-desc{font-size: 12px; margin-top:-5px;text-transform: capitalize;}
#demographicsBody .small-demo .demo-icon-container{float:left ;width: 26%; text-align: center; padding-right: 10px;}

#genderContainer .progress{background:rgba(255,255,255, 0.5); border-radius: 0px; margin: 8px;}
#genderContainer .percentage{margin:0px 10px; font-size:23px}
#genderContainer .gender{font-size:16px}
#genderContainer .gender-icon{font-size:58px}
#genderContainer .male-bar{background:#00445e;}
#genderContainer .female-bar{background:#ED4423;}

#accumulatedGuestsContainer{width: 100%; height: 200px;}
#loginTypesContainer{width: 100%; height: 250px;position:absolute;top:-25px;left:-25px;}

#loyalty .grid .panel-title i.fa-arrows-alt{margin:0;}
#loyalty .grid p.panel-title{margin-top:5px;}

#newGuestsContainer{width: 100%; height: 500px;padding:20px}
#osUsageContainer{width: 100%; height: 500px;}
#browserUsageContainer{width: 100%; height: 500px;}

#loginsInLastNContainer{width: 100%; height:100%; }
#loginsInLastNContainer .list-group-item {padding:5px;}

#osTrendsContainer,
#dataTransferredContainer,
#browserTrendsContainer,
#dailyCashflowContainer,
#packageSalesIncomeContainer,
#cumulativeNetIncomeContainer{width: 100%; height: 100%;padding:20px}

/* Styles related to the reports settings bar
 * Initially hide the datepicker
 * Put a white border around each period button to make them more visible
 * Adjust the position of the text stacked within the calendar icon on the button
 */
#reports-settings .fa-stack {margin-bottom: .35em;}
#reports-settings .calendar-text {margin-top: .35em;}
#reports-settings {box-shadow: none;}
#reports-settings .period-btn.btn.btn-info{background-color: #444; color: #ccc;}
#reports-settings .financial-reports .period-btn.btn.active{background-color: #b86a21; color: white; outline: none;}
#reports-settings .technology-reports .period-btn.btn.active{background-color: #00445e; color: white; outline: none;}
#reports-settings .guest-reports .period-btn.btn.active{background-color: #448fa3; color: white; outline: none;}
#reports-settings .period-btn.btn:hover{color: white;}
#reports-settings .period-btn.btn.active:hover{color: #ccc;}
#reports-settings .period-btn.btn.btn-info.disabled	{position:relative; }
#reports-settings .btn.disabled .dont-touch { position: absolute; margin:0; padding: 0; left:0; top:0; width: 100%; height: 100%; display: block; background-color: rgba(128,128,128,.3); color: rgba(224,224,224,.6); z-index: 100; pointer-events: auto;}
#reports-settings .periods{margin:0; padding:0;}

#reports-settings .btn-group {box-shadow: none; -webkit-box-shadow: none;}
#reports-settings .btn-group-justified .btn-info {border: solid 1px white;}
#reports-settings .btn-group-justified .btn-info:first-child {border-left-width: 0;}
#reports-settings { position:relative; margin-right: 7px;}
#reports-settings .datepicker-toggle { position: absolute; padding: 3px; right: -4px; top: 100%; width: 30%; z-index: 100; background-color: white; display:none; border: solid 1px darkblue; box-shadow: -3px 3px 3px rgba(0,0,0,.3); -webkit-box-shadow:  -3px 3px 3px rgba(0,0,0,.3);}
#reports-settings .datepicker-container {height: 15em;}
#reports-settings .btn .dont-touch { display:none; }
#reports-settings .btn.disabled .dont-touch i { margin-top:5%; }

#prtgSettingsWidget .period-buttons .btn.disabled	{background: #ccc;color: white;outline: none;}
#prtgSettingsWidget .btn-info{background: #00445e;}
#prtgSettingsWidget .period-buttons .btn.active{background-color: #5a8696;color: white;outline: none;}

#prtgSettingsWidget .period-btn{height: 101px; border: 3px solid white}
#prtgSettingsWidget .prtg-custom-period{height: 35px;padding:3px; background: #66bb6a; margin-top: 20px; max-width:200px;float:right; color: #fff;margin-right:50px;}
#prtgSettingsWidget.panel-body{	border-bottom: 1px solid #444; padding: 20px;}

@media only screen and (max-width: 990px) {
	#prtgSettingsWidget.panel-body{	overflow-y: scroll;}
	#prtgSettingsWidget .prtg-custom-period {margin-right: 12px;}
}

#prtgSettingsWidget .periods{margin:0; padding:3px;}
#prtgSettingsWidget .datepicker-container {height: auto;}
#prtgSettingsWidget .period-buttons input[type="radio"]{ display:none;}

.grid-item.settings.toggled .datepicker-container,
.grid-item.settings.toggled .custom-period{display: block}
.grid-item.settings.toggled .prtg-custom-period{display: block}
.grid-item.settings .datepicker-container,
.grid-item.settings .custom-period{display: none}
.grid-item.settings .prtg-custom-period{display: none}
.datepicker-container{margin-top: 10px ;height : 245px;	width:100%;	}
.ui-datepicker-inline{width:100%}
.bg-settings-reports{background-color: white}
/*Calendar*/
.datepicker-container .ui-state-default,
.datepicker-container .ui-widget-content .ui-state-default,
.datepicker-container .ui-widget-header .ui-state-default,
.datepicker-container .ui-button,
.datepicker-container .ui-button.ui-state-disabled:hover,
.datepicker-container .ui-button.ui-state-disabled:active {	border: none;background:none;}
.datepicker-container td a{	text-align: center;	font-size: 10px;padding: 5px;}
.datepicker-container .ui-datepicker-header {border: none;}
.datepicker-container  {margin-top: 0px;}
.datepicker-container .ui-datepicker {border: none;	padding: 0px;}
.datepicker-container .ui-icon-circle-triangle-w {	background-position: -97px -2px;}
.datepicker-container .ui-icon-circle-triangle-e {	background-position: -33px -2px;}
.datepicker-container * {border-radius: 0px;}
.datepicker-container .ui-datepicker-title {font-weight: normal;font-size: 12px;border: none;}
.datepicker-container thead tr{	background:  #00445e;color: white;font-size: 11px;}
.datepicker-container thead th{	font-weight: normal;padding: 3px 0px;}
.datepicker-container tbody tr:nth-child(even) {background: #e1e1e1}
.datepicker-container tbody tr:nth-child(odd)  {background: #FFF}
table.ui-datepicker-calendar a.ui-state-default.ui-state-active,
.dp-highlight,
.dp-highlight .ui-state-default {background: #00445e;color: #FFF;}

.grid-item .widget-sub-menu{border-radius: 0; margin: 0px; border: none;}
.grid-item .dropdown-menu>.active>a,
.grid-item .dropdown-menu>.active>a:focus,
.grid-item .dropdown-menu>.active>a:hover {background-color: #333;}

.grid-item .no-gateways * {color: rgba(0,0,0,0.5)}
.grid-item.latency .no-gateways *,.grid-item.wan-throughput .no-gateways * {color: rgba(255,255,255,0.5)}

/*map*/
.map-marker-container{position:relative}
.map-marker{position:absolute;}

.site-map-marker + .map-marker-data{position:absolute; left: 17px;	top: 5px; z-index: 100; color:#000}
.gateway-map-marker + .map-marker-data{position:absolute;    left: 16px; top: 53px; z-index: 100; color:#000}
.hardware-map-marker + .map-marker-data{display:none}

/*Hexagon*/
.hexagon {position: relative; width: 40px; height: 23.09px; margin: 11.55px 0; border-left: solid 4px #000;	border-right: solid 4px #000;}
.hexagon:before,
.hexagon:after {content: ""; position: absolute; z-index: 1; width: 28.28px; height: 28.28px; -webkit-transform: scaleY(0.5774) rotate(-45deg);	-ms-transform: scaleY(0.5774) rotate(-45deg); transform: scaleY(0.5774) rotate(-45deg);	background-color: inherit; left: 1.8579px;}
.hexagon:before { top: -14.1421px; border-top: solid 5.6569px #000;	border-right: solid 5.6569px #000;}
.hexagon:after { bottom: -14.1421px; border-bottom: solid 5.6569px #000; border-left: solid 5.6569px #000; }

.gateway-map-marker { position: relative; top: 40px; width: 40px; height: 40px; border-radius: 40px; line-height: 40px; opacity: .85; color: #000; border: solid 2px #000;}
.hardware-map-marker {	position: relative;	top: 20px; width: 20px; height: 20px; opacity: .85;	color: transparent;	border: solid 2px #000;	}
.yellow-map-marker { background: #ffe401; }
.green-map-marker {	background: #22ac38;}
.red-map-marker { background: #f44336;	}
.yellow-status { color: #ffe401; }
.green-status {	color: #22ac38; }
.red-status { color: #f44336;}

.map-site-name{clear:both; float:none; min-width: 300px; padding-bottom:10px;font-size: 18px;font-weight: bold}
.map-gateway-name{ min-width: 100px; padding-bottom:5px; font-size: 14px}
.map-gateway-detail{padding-top:5px}
.map-site-gateways{width:49%;float:right}
.map-site-demo{width:49%;float:left;}
.map-gateways-title{ padding-bottom:20px;font-size: 16px;font-weight: bolder}
.map-demo-title{ padding-bottom:10px;font-size: 16px;font-weight: bolder}

.grid-item.map .demo-desc, .grid-item.map hr {display: none}
.grid-item.map .demo-value, .grid-item.map .demo-details, .grid-item.map .demo-icon-container  {display: inline}
.grid-item.map .demo-icon-container{padding-right:20px; padding-left:10px}
.grid-item.map .demo-item{padding-bottom: 10px}
