/*.file-upload img{margin-bottom:20px; }
.fileinput-new, .fileinput-preview{background:none}
.fileinput-new img, .fileinput-preview img{background:url('/admin/templates/system/images/transparent.gif') 4px 4px ;}
.fileinput-new img, .fileinput-preview img{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);}


body.brand .table a{text-decoration: none}
body.brand .image-uploader {border: 1px solid #ccc; margin-bottom:15px; padding:0px}
body.brand .image-uploader-label{background:#ccc; margin-bottom:20px; color:white; }

body.brand .color-grad {
	background: #fefefe; /* For browsers that do not support gradients *
	background: -webkit-linear-gradient(0deg, #fefefe, #eeeeee); /* For Safari 5.1 to 6.0 *
	background: -o-linear-gradient(0deg, #fefefe, #eeeeee); /* For Opera 11.1 to 12.0 *
	background: -moz-linear-gradient(0deg, #fefefe, #eeeeee); /* For Firefox 3.6 to 15 *
	background: linear-gradient(0deg, #fefefe, #eeeeee); /* Standard syntax (must be last) *
}

@media (max-width: 991px){
	body.brand .input-container .pull-right{  float: right!important; }
}*/
