.detail-column-description.name{font-size: 16px;}
.detail-column-description.mac, .detail-column-description.type{font-size: 12px;}
/*
body.gateways i.action{padding:8px;}
body.gateways i.fa-trash-o.action{padding-left:13px;}
*/
