body.help .nav-tabs-vertical .panel-title{display:block}
body.help .panel-group{margin-bottom:0; padding-bottom:23px; border-bottom:1px solid #e0e0e0;}
body.help .panel-group.no-border{border:none;}
body.help .panel-group .panel-heading{border-top:1px solid #e0e0e0;}
body.help .panel-group .panel-title {padding:20px;}
body.help .panel-group .panel{ margin-top:0; padding:20px 0 0 0;}
body.help .nav-search > div.input-group > input[type="text"] {	width: 100%;border-width: 0px;border-style: initial;border-color: initial;border-image: initial;margin: 10px 0px;outline: none;	}
body.help .nav-search > div.input-group > span.input-group-addon {	color: rgb(224, 224, 224);background: rgb(255, 255, 255);border-width: initial;border-style: none;border-color: initial;border-image: initial;position: relative;top:2px;padding-right: 10px;padding-left: 0;}
body.help .categories .nav-search{padding-left:20px;}
body.help .role-widget-panel-group .panel-title[aria-expanded="false"]:before{opacity:1;display:block;}
body.help .ui-sortable-helper td {width:90% !important; }
body.help .tab-pane{width:100%;overflow-y: auto; height:590px;border: 1px solid #ccc;}
body.help .nav-tabs-vertical .panel-title{display:block}
body.help .nav-tabs-line {border: solid 1px #ccc; min-height: 590px}
body.help .sortable{min-height: 40px;cursor:move;}
body.help .tab-content  {position: inherit; border-left: none;}
body.help .search-box{	margin: 0!important;}
body.help .search-div{	top: -15px;	}