/*
 * Packages CSS
 */


body.packages .facebook-package-attributes label{
	color:#fff;
}



/* Language tabs */
body.packages .nav-tabs > li > a {
	padding: 5px 10px;
}


/* Language tabs */
body.packages .lang-tabs .nav {
	margin:0px -20px;
}

body.packages .lang-tabs .nav-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
}

body.packages .lang-tabs .nav-tabs >li {
	float: none;
}

body.packages .lang-tabs .nav > li > a:hover{background:#e4eaec}

body.packages .lang-tabs .nav > li.active > a {
	border-bottom: 2px solid #00adef;
	color: #00adef;
}

/* Facebook modal */
body.packages #facebook_like_outer, body.packages #gha_outer , body.packages #voyat_outer {
	display:none
}

/* Package Attribute Tabs */
body.packages .attribute-tabs {
	border:1px solid #e0e0e0;
}

body.packages .attribute-tabs .attribute-tab-content {
	display:none;
}

body.packages .attribute-tabs > ul.nav {
	max-height: 500px;
	overflow-y: scroll;
}

body.packages .attribute-tabs > ul > li.nav-search > div.input-group > input[type="text"] {
	border:  0px;
	width: 100%;
	margin: 10px 0;
	outline: none;
}

body.packages .attribute-tabs > ul > li.nav-search > div.input-group > span.input-group-addon {
	background: #fff;
	color: #e0e0e0;
	border: none;
}

body.packages .attribute-tabs > ul > li.packages-nav-title {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

body.packages .attribute-tabs > ul > li.hidden-by-search {
	display: none;
}

body.packages .attribute-tabs > .tab-content {
	min-height: 500px;
}

body.packages .attribute-tabs .page-header {
	padding: 20px 11px 11px 0px;
}

body.packages .embedded-translations {
	display:none;
}
.swal2-cancel-custom {
	color: #757575 !important
}

#download-text {
	text-align: right;
}

#upload-text {
	text-align: right;
}